:root {
    --preto : #464646;
    --cinza-claro : #F5F5F5;
    --cinza : #C8C8C8;
    --cinza-medio : #A2A2A2;
    --azul-claro : #EAF2FD;
    --azul: #2A7AE4;
    --raleway : 'Raleway', sans-serif;
    --branco : #FFFFFF;
    --roxo: #4B204B;
    --vermelho : #ff0000;

}

body {
    font-family: var(--raleway);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza-claro);
}

@media screen and (min-width: 0) {
   body {
    width: auto;
   }
    
}

@media screen and (min-width: 768px) {
    body {
        width: auto;
    }
   
}

@media screen and (min-width: 992px) {
    body {
        width: 84rem;
    }
    
}


